{% extends "base.html" %}
{% block title %}Настройки{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/settings_page_shared.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/settings_styles.css') }}" />
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/audit_log_mobile.css') }}" />
{% endblock %}

{% block content %}
{% include "partials/settings/_layout_start.html" %}
{% include "partials/settings/_tab_vpn_network.html" %}
{% include "partials/settings/_tab_qr_settings.html" %}
{% include "partials/settings/_tab_maintenance.html" %}
{% include "partials/settings/_tab_user_management.html" %}
{% include "partials/settings/_tab_security.html" %}
{% include "partials/settings/_tab_telegram_auth.html" %}
{% include "partials/settings/_tab_action_logs.html" %}
{% include "partials/settings/_tab_updates.html" %}
{% include "partials/settings/_tab_tests.html" %}
{% include "partials/settings/_layout_end.html" %}
{% endblock %}

{% block scripts %}
{% include "partials/settings/_scripts.html" %}
{% endblock %}
